<div id="page_wrapper">
	<h2>Log in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email %></div><br>
		<br>
	  <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>
		<br>
	  <% end -%>
	  <br>

	  <div><%= f.submit "Log in" %></div>
	<% end %>
		<br>
