
<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
 <% if @current_user && @current_user.id == @user.id %>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'There is no going back from this. Definitely, postitively, 100% sure?' } %>
<% end %>
